# Advanced Python
## Pandas Homework 1 SOLUTIONS

<B><U>Please pull up your homework solutions</U>, and when you see a solution here that is not the same is yours, please enter it into the Chat window so we can compare.</B><br><br>


<I><B>Please note</B> that when cells are executed individually they include variables from prior cell executions, <B>but changes to a prior cell will not reflect below it until that cell is executed.</B></I><br>
<br>
<B><I>To reset your worksheet</I></B>, choose <B>Kernal > Restart</B> or <B>Kernel > Restart and Clear Output</B>.

<U>Notes if you are using Jupyter Notebook</U>:  to call <B>exit()</B> from a notebook, please use <B>sys.exit()</B> (requires <B>import sys</B>); if a strange error occurs, it may be because Jupyter retains variables from all executed cells.  To reset the notebook's variables, click 'Restart Kernel' (the circular arrow) -- this will not undo any text changes.

In [ ]:
# 8.1:  execute this cell once so subsequent cells can make use of the import
import pandas as pd

In [ ]:
# 8.2:  read sheet "Aggregate" in bond_feed_tiny.xls
#       assign to a variable 'df1' (we'll be referring back to it later on)
#       if the file cannot be read, see note in instructions above

df1 = pd.read_excel('bond_feed_tiny.xls', sheet_name='Aggregate')
print(df1)

<U>expected output</U>:
<PRE>CRNCY Country Code Eurozone?   AMT_ISSUED  AMT_OUTSTANDING
0   USD           UA       Non   1500000000       1500000000
1   EUR           FR  Eurozone  10160000000      10160000000
2   DKK           DE       Non  17040000000      16040000000
3   EUR           FR  Eurozone  20195000000      19095000000
4   EUR           GO       Non      7000000          7000000</PRE>

In [ ]:
# 8.3:  rename "Country Code" to CTRY_CODE and "Eurozone?" to EUROZONE
df1 = df1.rename(columns={'Country Code': 'CTRY_CODE', 'Eurozone?': 'EUROZONE'})

#df1.columns = ['CRNCY', 'CTRY_CODE', 'EUROZONE', 'AMT_ISSUED', 'AMT_OUTSTANDING']
print(df1)

#### To be discussed:  inplace=True

<U>expected output</U>:
<PRE>  CRNCY CTRY_CODE  EUROZONE   AMT_ISSUED  AMT_OUTSTANDING
0   USD        UA       Non   1500000000       1500000000
1   EUR        FR  Eurozone  10160000000      10160000000
2   DKK        DE       Non  17040000000      16040000000
3   EUR        FR  Eurozone  20195000000      19095000000
4   EUR        GO       Non      7000000          7000000</PRE>

In [ ]:
# 8.4:  create a slice of just CTRY_CODE, AMT_ISSUED and AMT_OUTSTANDING
#       Note:  please assign this to a new dataframe df2

df2 = df1.loc[:, ['CTRY_CODE', 'AMT_ISSUED', 'AMT_OUTSTANDING']]
print(df2)

##### to be discussed:  'Copy of a Slice' warning

<U>expected output</U>:
<PRE>  CTRY_CODE   AMT_ISSUED  AMT_OUTSTANDING
0        UA   1500000000       1500000000
1        FR  10160000000      10160000000
2        DE  17040000000      16040000000
3        FR  20195000000      19095000000
4        GO      7000000          7000000</PRE>

In [ ]:
# 8.5:  for the next questions, please use dataframe df2
#       create a new column AMT_COMPLETED that subtracts AMT_OUTSTANDING from AMT_ISSUED across all columns
df2['AMT_COMPLETED'] = df2['AMT_ISSUED'] - df2['AMT_OUTSTANDING']
print(df2)

<U>expected output</U>:
<PRE>  CTRY_CODE   AMT_ISSUED  AMT_OUTSTANDING  AMT_COMPLETED
0        UA   1500000000       1500000000              0
1        FR  10160000000      10160000000              0
2        DE  17040000000      16040000000     1000000000
3        FR  20195000000      19095000000     1100000000
4        GO      7000000          7000000              0</PRE>

In [ ]:
# 8.6:  sum up each of AMT_ISSUED, AMT_OUTSTANDING and AMT_COMPLETED
df2.loc[:, ['AMT_ISSUED', 'AMT_OUTSTANDING', 'AMT_COMPLETED']].sum()

<U>expected output</U>:
<PRE>CTRY_CODE           UAFRDEFRGO
AMT_ISSUED         48902000000
AMT_OUTSTANDING    46802000000
AMT_COMPLETED       2100000000
dtype: object</PRE>

In [ ]:
# 8.7:  show average AMT_ISSUED
avg = df2['AMT_ISSUED'].sum() / len(df2.index)
print('average amount issued: {}'.format(avg))

<U>expected output</U>:
<PRE>average amount issued:  9780400000.0</PRE>

In [ ]:
# 8.8:  going back to original df1 (all 5 columns), slice rows for EUR issues only
#       note:  please show the results, but don't assign back to df1
x = df1.loc[df1.CRNCY == 'EUR']
print(x)

<U>expected output</U>:
<PRE>  CRNCY CTRY_CODE  EUROZONE   AMT_ISSUED  AMT_OUTSTANDING
1   EUR        FR  Eurozone  10160000000      10160000000
3   EUR        FR  Eurozone  20195000000      19095000000
4   EUR        GO       Non      7000000          7000000</PRE>

In [ ]:
# 8.9:  again using the original df1, slice rows for EUR issues that are also EUROZONE
#       note:  please show the results, but don't assign back to df1
x = df1.loc[(df1.CRNCY == 'EUR') & (df1.EUROZONE == 'Eurozone')]
print(x)

<U>expected output</U>:
<PRE>  CRNCY CTRY_CODE  EUROZONE   AMT_ISSUED  AMT_OUTSTANDING
1   EUR        FR  Eurozone  10160000000      10160000000
3   EUR        FR  Eurozone  20195000000      19095000000</PRE>

In [ ]:
# 8.10: in one statement, show average/mean of AMT_ISSUED and AMT_OUTSTANDING for all non-EUR countries

s = df1.loc[df1.CRNCY != 'EUR'].mean()
print(s)

<U>expected output</U>:
<PRE>AMT_ISSUED         9.270000e+09
AMT_OUTSTANDING    8.770000e+09
dtype: float64</PRE>

In [ ]:
# 8.11: in the EUROZONE column, replace 'Eurozone' with 'Y' and 'Non' with 'N'
#       attempt to accomplish this with .loc referencing
df1.loc[df1['EUROZONE'] == 'Eurozone', 'EUROZONE'] = 'Y'
df1.loc[df1['EUROZONE'] == 'Non', 'EUROZONE'] = 'N'
print(df1)

<U>expected output</U>:
<PRE>  CRNCY CTRY_CODE EUROZONE   AMT_ISSUED  AMT_OUTSTANDING
0   USD        UA        N   1500000000       1500000000
1   EUR        FR        Y  10160000000      10160000000
2   DKK        DE        N  17040000000      16040000000
3   EUR        FR        Y  20195000000      19095000000
4   EUR        GO        N      7000000          7000000</PRE>

In [ ]:
# 8.12: create a groupby() aggregation that sums AMT_ISSUED and AMT_OUTSTANDING by currency
df2 = df1.groupby('CRNCY').sum()

print(df2)

<U>expected output</U>:
<PRE>        AMT_ISSUED  AMT_OUTSTANDING
CRNCY                              
DKK    17040000000      16040000000
EUR    30362000000      29262000000
USD     1500000000       1500000000</PRE>

In [ ]:
# 8.13: from the 'country_lookup' tab in the bond_feed_tiny.xlsx Excel workbook, create a DataFrame with CTRY_CODE index and name FULL_NAME.
ctry_lookup = pd.read_excel('bond_feed_tiny.xls', 
                            sheet_name='country_lookup')[['CTRY_CODE', 'FULL_NAME']]
ctry_lookup = ctry_lookup.set_index('CTRY_CODE')
print(type(ctry_lookup))


# as Series however, subscript with list to get df
#ctry_lookup = pd.read_excel('bond_feed_tiny.xls', 
#                            sheet_name='country_lookup',
#                            index_col='CTRY_CODE')['FULL_NAME']

<U>expected output</U>:
<PRE>           FULL_NAME
CTRY_CODE
UA         United Arab Emirates
FR         France
DE         Denmark
GO         Gabon</PRE>

In [ ]:
# 8.14: join the df (pre-groupby) to the country lookup Series created above, to create 
#       a df with a new column df['FULL_NAME'] that is the full name of the country
dfj = pd.merge(df1, ctry_lookup, left_on='CTRY_CODE', right_on='CTRY_CODE', how='left')
print(dfj)

<U>expected output</U>:
<PRE>  CRNCY CTRY_CODE EUROZONE   AMT_ISSUED  AMT_OUTSTANDING             FULL_NAME
0   USD        UA        N   1500000000       1500000000  United Arab Emirates
1   EUR        FR        Y  10160000000      10160000000                France
2   DKK        DE        N  17040000000      16040000000               Denmark
3   EUR        FR        Y  20195000000      19095000000                France
4   EUR        GO        N      7000000          7000000                 Gabon</PRE>